<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta name=description content="The Ohio Men's Ox Roast and Retreat is a two day event, in which Christian men, ages 12 and up, can gather in fellowship
        with one another.">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Ohio Men's Ox Roast</title>
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
        @RenderSection("css", required: true)
        <script src="js/common/lib/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
            @RenderPage("~/_MenuBar.cshtml")
            <div class="header-content-wrap">
            	 @RenderPage("~/_Header.cshtml")
            </div>
            <div class="page">
            	@RenderBody()
            </div>
            <p class="scripture">
                "but those who hope in the LORD will renew their strength. They will soar on wings like eagles; they will run and not grow weary, they will walk and not be faint."<br/>
                ~ 2 Isaiah 40:31
            </p>

        <script src="js/common/lib/jquery-1.10.2.min.js"></script>
        <script src="js/common/lib/knockout-3.1.0.js"></script>

         <!--[if lte IE 9]>
            <script type="text/javascript" src="js/common/polyfills/placeholder.js"></script>
        <![endif]-->
        <!--[if lt IE 9]>
            <script type="text/javascript" src="js/common/polyfills/Respond.js"></script>
        <![endif]-->
        @RenderSection("js", required: true)
    </body>
</html>