<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name=description content="The Church of God Men's Ox Roast is a two day event, in which Christian men, ages 12 and up, can gather in fellowship
        with one another.">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>OMM OX Roast</title>
        <link href="css/stylesheets/layout.min.css" rel="stylesheet" type="text/css" />
        @RenderSection("css", required: true)
    </head>
    <body>
        <div class="page">
            @RenderPage("~/_MenuBar.cshtml")
            <div class="header-content-wrap">
            	 @RenderPage("~/_Header.cshtml")
                <div class="body">
                	@RenderBody()
                	<p class="scripture">
                        "Jesus went up on a mountain and called to him those he wanted, and they came to him.<br/> 
                        He appointed twelve - designating them apostles - that they might be with him and that he might send them out to preach<br/>
                        and to have authority to drive out demons."<br/>
                        ~Mark 3:13-15
                    </p>
                </div>
            </div>
        </div>
        <!--[if lt IE 9]>
            <script src="js/base/modernizr-2.5.3.min.js"></script>
        <![endif]-->
        <script src="js/base/jquery-1.10.2.min.js"></script>
        <script src="js/base/knockout-3.0.0.js"></script>
        
        @RenderSection("js", required: true)
    </body>
</html>