<ul>
   <li><a href="@Href("~/")" data-icon-home>Home</a></li>
   <li><a href="@Href("~/Activities")" data-icon-calendar>Activities</a></li>
   <li><a href="@Href("~/Speakers")" data-icon-users>Speakers</a></li>
   <li><a href="@Href("~/Registration")" data-icon-pencil>Registration</a></li>
   <li><a href="@Href("~/Contact")" data-icon-info>Contact Us</a></li>
   <li><a href="https://maps.google.com/maps?daddr=3480+Township+Road+221+Marengo,+OH+43334" data-icon-location>Directions</a></li>
</ul>
    

