<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name=description content="The Church of God Men's Ox Roast is a two day event, in which Christian men, ages 12 and up, can gather in fellowship
        with one another.">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>OMM OX Roast</title>
        <!-- <link href="css/min/layout.min.css" rel="stylesheet" type="text/css" /> -->
        @RenderSection("css", required: true)
    </head>
    <body>
        <!-- <div class="page"> -->
            @RenderPage("~/_MenuBar.cshtml")
            <div class="header-content-wrap">
            	 @RenderPage("~/_Header.cshtml")
            </div>
            <div class="page">
            	@RenderBody()
            </div>
            <p class="scripture">
                "I have fought the good fight, I have finished the race, I have kept the faith."<br/>
                ~ 2 Timothy 4:7
            </p>
        <!-- </div> -->
        <!--[if lt IE 9]>
            <script src="js/base/modernizr-2.5.3.min.js"></script>
        <![endif]-->
        <script src="js/base/jquery-1.10.2.min.js"></script>
        <script src="js/base/knockout-3.1.0.js"></script>
        
        @RenderSection("js", required: true)
    </body>
</html>