<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name=description content="The Church of God Men's Ox Roast is a two day event, in which Christian men, ages 12 and up, can gather in fellowship
        with one another.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OMM OX Roast</title>
        <link href="css/stylesheets/layout.css" rel="stylesheet" type="text/css" />
        @RenderSection("css", required: true)
    </head>
    <body>
        <div class="page">
            @RenderPage("~/_MenuBar.cshtml")
            <div class="header-content-wrap">
            	 @RenderPage("~/_Header.cshtml")
                <div class="body">
                	@RenderBody()
                	<p class="scripture">
                        "...for he hath said, I will never leave thee, nor forsake thee.<br/> 
                        So that we may boldly say, The Lord is my helper, and I will not fear what man shall do unto me."<br/> 
                        ~Hebrews 13:5b-6
                    </p>
                </div>
            </div>
        </div>
        <script src="js/base/modernizr-2.5.3.min.js"></script>
        <script src="js/base/jquery-1.7.1.min.js"></script>
        <script src="js/base/knockout-2.1.0.js"></script>
        
        @RenderSection("js", required: true)
    </body>
</html>