<ul>
    <li><a href="@Href("~/")">Home</a></li>
    <li><a href="@Href("~/Activities")">Activities</a></li>
    <li><a href="@Href("~/Speakers")">Speakers</a></li>
    <li><a href="@Href("~/Registration")" target="_blank">Registration</a></li>
    <li><a href="@Href("~/Contact")">Contact Us</a></li>
</ul>
