<ul>
@if (Request.Browser.IsMobileDevice) {
   <li><a href="@Href("~/")" data-icon-home>Home</a></li>
   <li><a href="@Href("~/Activities")" data-icon-calendar>Activities</a></li>
   <li><a href="@Href("~/Speakers")" data-icon-users>Speakers</a></li>
   <li><a href="@Href("~/Registration")" data-icon-pencil>Registration</a></li>
   <li><a href="@Href("~/Contact")" data-icon-info>Contact Us</a></li>
} else {
   <li><a href="@Href("~/")">Home</a></li>
   <li><a href="@Href("~/Activities")">Activities</a></li>
   <li><a href="@Href("~/Speakers")">Speakers</a></li>
   <li><a href="@Href("~/Registration")">Registration</a></li>
   <li><a href="@Href("~/Contact")">Contact Us</a></li> 
}
</ul>
    

